ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e98074;
}

li {
    float: left;
    display: block;
    text-align:center;
    padding: 15px;
}

a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #e85a4f;
}

li.icon {
    float: right;
}

img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
