<img src="../../assets/kavi-pic.png" alt="Kavi picture">
<a href="https://www.linkedin.com/in/kavimehta2/">LinkedIn</a>
<a href="https://github.com/kavimehta">Github</a>
<p>
  Hi, I'm Kavi (pronounced like "cubby" but with a "v" sound instead of a "b" sound). I am currently pursuing an M.S. in EECS at UC Berkeley. The research I do is in applying NLP techniques to understand political discourse. We are trying to use novel linguistic analyses (namely the idea of the metaphor, <a href="https://georgelakoff.com/2014/08/18/new-book-the-all-new-dont-think-of-an-elephant-know-your-values-and-frame-the-debate/">described by George Lakoff</a>) as a means of understanding how using certain language can make phrases evoke more conservative or liberal ideas.
</p>
<p>
  After graduating, I plan on pursuing a career in software engineering. I don't know what particular field I would like to get into, but on the whole I enjoy making consumer products that help people.
</p>
<p>
  I do all sorts of activities to occupy my free time. At school, I am in an <a href="https://www.facebook.com/tbdcomedy">improv comedy club</a>, which is an endless source of laughter, social commentary, and imaginative self-expression. Besides that, I love bowling, hiking, and playing board games.
</p>
