<div class="w3-card-4" style="width:50%">
  <a href="http://down-to-split.herokuapp.com/">
    <img src="../../assets/images/down-to-split.png" alt="Down To Split" style="width:100%">
  </a>
  <div class="w3-container w3-center">
    <p>Down To Split</p>
  </div>
</div>
<div class="w3-card-4" style="width:50%">
  <a href="https://github.com/kavimehta/chatbot">
    <img src="../../assets/images/roger-chatbot.png" alt="Roger, the Chatbot" style="width:100%">
  </a>
  <div class="w3-container w3-center">
    <p>Roger, the Chatbot</p>
  </div>
</div>
